*.egg-info/
*.idea # pycharm files
data
datasets
.ipynb_checkpoints
.DS_Store
venv
__pycache__/
*.iml
*.xml
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/.gitignore
